@page
@model Site_Aele.NotaModels
@{

}

<div class="titulo">
    <h1>Calculadora de Notas</h1>
</div>
<div class="texto-nota-1">
    <p>Insira a nota da NP1</p>
<<<<<<< HEAD
</div>
<div class="texto-nota-2">
    <p>Insira a nota da NP2</p>
</div>
<div class="texto-nota-pim">
    <p>Insira a nota do PIM</p>

=======
>>>>>>> e18da66abfc4cb911795226f33b5649fbb6c67d7
</div>
<div class="texto-nota-2">
    <p>Insira a nota da NP2</p>
</div>
<div class="texto-nota-pim">
    <p>Insira a nota do PIM</p>

</div>



<form method="post" >
    <!--Caixas de entrada-->
<<<<<<< HEAD
<<<<<<< HEAD

=======
   
>>>>>>> abe7f2e (Adição da lógica de calculo das notas e teste lógico de aprovação e reprovação)
=======

>>>>>>> e18da66abfc4cb911795226f33b5649fbb6c67d7
    <div class="caixa-entrada-nota1"> 
        <input asp-for="Nota1" type="number" name="nota1" step="0.5" min="0" max="10" />
    </div>
    <div class="caixa-entrada-nota2">
        <input asp-for="Nota2" type="number" name="nota2" step="0.5" min="0" max="10" />
    </div>
    <div class="caixa-entrada-pim">
        <input asp-for="NotaPim" type="number" name="notaPim" step="0.5" min="0" max="10" />
    </div>
    <div class="container-centro">
        <!--Botão de envio-->
<<<<<<< HEAD
<<<<<<< HEAD
        <button class="botao-enviar" type="submit">Calcular</button>
=======
    <button class="botao-enviar" type="submit">Calcular</button>
>>>>>>> abe7f2e (Adição da lógica de calculo das notas e teste lógico de aprovação e reprovação)
=======
        <button class="botao-enviar" type="submit">Calcular</button>
>>>>>>> e18da66abfc4cb911795226f33b5649fbb6c67d7
    </div>
</form>

<!--Exibição do resultado para media final sem nota do pim-->
<!--Fazer logica de switch pra testar uma por uma-->
<<<<<<< HEAD




=======
>>>>>>> e18da66abfc4cb911795226f33b5649fbb6c67d7




