@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Os dados aqui fornecidos são utilizados meramente para estudo e são excluidos do banco de dados a cada 1 semana!</p>
